.auth-backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(232, 232, 232);
}

.auth-container {
    display: flex;
    background-color: rgba(225, 40, 40, 0.76);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 540px;
}
